<div class="play-ground">
    <!-- signals -->
    <h1>signals</h1>
    <p>{{counter()}}</p>
    <button type="button" (click)="increment()">Increment</button>
    <button type="button" (click)="decrement()">Decrement</button>
    <h1>the number is {{isEvenOrOdd()}}</h1>
    <span class="line"></span>
    <!-- Components -->
    <h1>components</h1>
    <app-component-ex (sendtoparent)="handleDataFromChild($event)" [data]="datatochild()"></app-component-ex>
    <button type="button" (click)="datachildUpdate()">Update</button>
    <button type="button" (click)="datarest()">reset</button>
    <p>{{datafromchild()}}</p>
    <span class="line"></span>
    <!-- templete to do list -->
    <h1>templete to do list</h1>
    <input type="text" (input)="watchTask($event.target.value)" />
    <button type="button" (click)="addTask()">add task</button>
    <button type="button" (click)="showDoTask()">show done task</button>

    <div class="todo-list">
        @for (task of taskList(); track task.id) {
        @if(!task.isDone){
        <div style="display: flex;" (click)="doneTask(task.id)">
            <label for="task{{task.id}}"> {{task.task}}</label>
            <input id="task{{task.id}}" type="checkbox" [checked]="task.isDone" (change)="task.isDone = !task.isDone" />
        </div>
        }
        @else if(showDoneTask()){
        <div>
            <label style="text-decoration: line-through;" for="task{{task.id}}"> {{task.task}}</label>
            <input id="task{{task.id}}" type="checkbox" [checked]="task.isDone" (change)="task.isDone = !task.isDone" />
        </div>
        }
        }
    </div>
    <span class="line"></span>
    <!-- directive -->
    <h1>directive</h1>
    <button type="button" (click)="toggleAdmin()">Toggle Admin</button>
    <div *IsAdmin="isAdmin()">
        <p>Admin</p>
    </div>
    <span class="line"></span>

    <!-- Dependency Injection -->
    <h1>Dependency Injection</h1>
    <button type="button"
        (click)="sharedData.setDataFromService({ product: 'chocklate', price: 10, quantity: 150 })">Update</button>
    <p>
        {{sharedData.getDataFromService()}}
    </p>
    <span class="line"></span>
    <!-- http client fetching data -->
    <h1>http client fetching data</h1>
    <button type="button" (click)="fetchData()">Fetch Data</button>
    <p>{{dataFromApi()}}</p>
    <span class="line"></span>
    <!-- drag and drop implement -->
    <h1>drag and drop implement</h1>
    <div cdkDropListGroup class="board">
        @for (goal of goalListDragDrop(); track goal.id) {
        <div class="goal-container">
            <h2>{{goal.name}}</h2>
            <div cdkDropList [cdkDropListData]="goal.tasks" class="task-list" (cdkDropListDropped)="drop($event)">
                @for (task of goal.tasks; track task.id) {
                <div cdkDrag class="task-box">
                    {{task.task}}
                </div>
                }
            </div>
        </div>
        }
    </div>


</div>