.content-wraper {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .stretch {
    flex: 1;
  }
}

.content {

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}