.sidebar {
  height: 100vh;
  width: 250px;
  background-color: var(--light-color);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out;
  z-index: 100;

  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
  }

  .logo {
    padding: 1.5rem;
    text-align: center;
    background-color: var(--primary-color);
    color: #333;

    h2 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    overflow-y: auto;

    li {
      margin: 0;
    }

    a {
      display: flex;
      align-items: center;
      padding: 1rem 1.5rem;
      color: var(--dark-color);
      text-decoration: none;
      transition: background-color 0.2s, color 0.2s;

      .icon {
        margin-right: 1rem;
        font-style: normal;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        color: var(--success-color);
      }

      &.active {
        background-color: var(--secondary-color);
        color: #fff;
        border-right: 4px solid var(--success-color);
      }
    }
  }
}

.sidebar-overlay {
  display: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}


@media (max-width: 768px) {
  :host(.open) {
    .sidebar {
      transform: translateX(0);
    }

    .sidebar-overlay {
      display: block; 
      opacity: 1;
      visibility: visible;
    }
  }
}