<div class="sidebar-overlay" (click)="layoutService.closeSidebar()"></div>
<aside class="sidebar">
  <div class="logo">
    <h2>{{ settingProvider.dashboardTitle() }}</h2>
  </div>

  <ul class="nav-links">
    <li>
      <a routerLink="/dashboard/overview" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        (click)="layoutService.closeSidebar()">
        <i class="icon">🏠</i>
        <span>Overview</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/dashboard/profile', userId()]" routerLinkActive="active"
        (click)="layoutService.closeSidebar()">
        <i class="icon">👤</i>
        <span>Profile</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/setting" routerLinkActive="active" (click)="layoutService.closeSidebar()">
        <i class="icon">⚙️</i>
        <span>Settings</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/news" routerLinkActive="active" (click)="layoutService.closeSidebar()">
        <i class="icon">📰</i>
        <span>News</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/notes" routerLinkActive="active" (click)="layoutService.closeSidebar()">
        <i class="icon">📝</i>
        <span>Notes</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/meeting" routerLinkActive="active" (click)="layoutService.closeSidebar()">
        <i class="icon">📅</i>
        <span>Meetings</span>
      </a>
    </li>
  </ul>
  <div class="text-center">
    <span>{{ dataprovider.formattedTime() }}</span>
  </div>
  <div class="logout">
    <a (click)="userProvider.logout()">
      <i class="icon">🚪</i>
      <span>Logout</span>
    </a>
  </div>
</aside>